<div class="iq-blog shadow image-hover">
   <a href="{{path}}blog-details.html" class="blog-image d-block overflow-hidden">
      <img src="{{path}}assets/images/{{blog-image}}" alt="blog-image" class="img-fluid w-100" loading="lazy">
   </a>
   <div class="p-4">
      <div class="iq-blog-meta d-flex align-items-center flex-wrap mb-2 gap-2 gap-md-3">
         <div class="iq-blog-cat text-uppercase letter-spacing-2">
            <span class="iq-cat-name">
               <a href="{{path}}blog-category.html" class="text-primary">{{blog-category}} </a>
            </span>
         </div>
         <div class="list-inline-item">
            <span class="screen-reader-text text-uppercase letter-spacing-1 fw-500">
               <a href="{{path}}blog-date.html">{{blog-publish-date}}</a>
            </span>
         </div>
      </div>
      <div class="blog-title">
         <a href="{{path}}blog-details.html"><h5 class="text-capitalize">{{blog-title}}</h5></a>
      </div>
      {{#compare isDesc '==' 'true'}}
      <p class="overflow-hidden mt-2 mb-0">{{blog-description}}</p>
      {{/compare}}
      <ul class="border-top p-0 pt-4 mt-4">
         <li class="d-flex align-items-center gap-3">
            <img src="{{path}}assets/images/blog/blog-author.webp" alt="blog-author" class="blog-author img-fluid avatar-30 rounded-pill" loading="lazy">
            <div>
               <span>Written By</span>
               <a href="{{path}}blog-author.html" class="text-dark fw-500">{{blog-author}}</a>
            </div>
         </li>
      </ul>
   </div>
</div>