<div class="iq-blog blog-standard position-relative">
   <a href="{{path}}blog-details.html" class="blog-image d-block overflow-hidden">
   <img src="{{path}}assets/images/{{blog-image}}" alt="blog-image" class="img-fluid w-100"
      loading="lazy">
   </a>
   <div class="iq-post-details bg-white p-4">
      <div class="iq-blog-cat bg-primary text-white d-inline">
         <a href="{{path}}blog-category.html" class="text-white">
         {{blog-category}}
         </a>
      </div>
      <div class="iq-blog-meta mt-3">
         <ul class="list-inline">
            <li class="list-inline-item text-uppercase">
               <a href="{{path}}blog-date.html">
               <i class="far fa-calendar-alt me-1" aria-hidden="true"></i>
               <span>{{blog-publish-date}}</span>
               </a>
            </li>
            <li class="list-inline-item text-uppercase">
               <a href="{{path}}blog-author.html">
               <i class="far fa-user me-1" aria-hidden="true"></i>
               <span>{{blog-author}}</span>
               </a>
            </li>
         </ul>
      </div>
      <div class="blog-title mb-2">
         <a href="{{path}}blog-details.html">
            <h5 class="text-capitalize">{{blog-title}}</h5>
         </a>
      </div>
      {{#compare isDesc '==' 'true'}}
      <p class="overflow-hidden m-0">{{blog-description}}</p>
      {{/compare}}
      {{#compare isTag '==' 'true'}}
      <ul class="blogtag d-flex mt-3 p-0">
         <li class="label d-inline me-2">Tags:</li>
         <li class="d-inline">
            <a href="{{path}}blog-tag.html" class="position-relative">{{blog-tag}}</a>
         </li>
      </ul>
      {{/compare}}
      <div class="blog-button mt-3">
         <div class="iq-btn-container">
            <a class="iq-button iq-btn-link text-capitalize" href="{{path}}blog-details.html">
               Read More
               <span class="btn-link-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none">
                     <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor"></path>
                  </svg>
               </span>
            </a>
         </div>
      </div>
   </div>
</div>