<div class="iq-client-grid">
   <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-1.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-2.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-3.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-4.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-5.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-1.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-2.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
      <div class="col text-center border p-3">
         <img src="{{path}}assets/images/client/client-3.webp" alt="client" class="iq-client-img" loading="lazy" />
      </div>
   </div>
</div>