{{#compare show '==' 'true' }}
<div class="accordion-item custom-accordion mb-4 bg-white rounded-0">
   <h5 class="accordion-header rounded-0" id="heading{{uniqid}}">
      <button class="accordion-button fw-500 text-capitalize gap-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{inid}}" aria-expanded="true" aria-controls="collapse{{inid}}">
      {{faq-title}}
      </button>
   </h5>
   <div id="collapse{{inid}}" class="accordion-collapse collapse show" aria-labelledby="heading{{uniqid}}" data-bs-parent="#main-faq">
      <div class="accordion-body">
         <p>{{faq-desc}}</p>
      </div>
   </div>
</div>
{{else}}
<div class="accordion-item custom-accordion mb-4 bg-white rounded-0">
   <h5 class="accordion-header rounded-0" id="heading{{uniqid}}">
      <button class="accordion-button fw-500 text-capitalize collapsed gap-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{inid}}" aria-expanded="true" aria-controls="collapse{{inid}}">
      {{faq-title}}
      </button>
   </h5>
   <div id="collapse{{inid}}" class="accordion-collapse collapse" aria-labelledby="heading{{uniqid}}" data-bs-parent="#main-faq">
      <div class="accordion-body">
         <p>{{faq-desc}}</p>
      </div>
   </div>
</div>
{{/compare}}