<div class="iq-team-block team-standard position-relative">
   <div class="iq-team-img">
      <img src="{{path}}assets/images/{{team-image}}" alt="team" class="img-fluid w-100" loading="lazy">
   </div>
   <div class="share iq-team-social position-absolute text-center w-100">
      <ul class="list-inline d-flex align-items-center justify-content-center gap-3">
         <li>
            <a class="position-relative bg-primary text-white d-flex justify-content-center align-items-center" href="https://www.facebook.com/">
            <i class="fab fa-facebook-f"></i>
            </a>
         </li>
         <li>
            <a class="position-relative bg-primary text-white d-flex justify-content-center align-items-center" href="https://x.com/">
            <i class="fab fa-twitter"></i>
            </a>
         </li>
         <li>
            <a class="position-relative bg-primary text-white d-flex justify-content-center align-items-center" href="https://www.google.com/">
            <i class="fab fa-google"></i>
            </a>
         </li>
      </ul>
   </div>
   <div class="iq-team-info text-center pt-5 px-3 pb-3 letter-spacing-1">
      <a href="{{path}}doctor-details.html">
         <h5 class="mb-2 iq-team-title">{{{team-member-name}}}</h5>
      </a>
      <p class="mb-0 mt-1 text-uppercase fw-500 letter-spacing-2">{{{team-specialized}}}</p>
   </div>
</div>