<div class="iq-team-block team-content-aside position-relative">
   <div class="iq-team-img">
      <img src="{{path}}assets/images/{{team-image}}" alt="team" class="img-fluid w-100" loading="lazy">
   </div>
   <div class="team-content text-lg-start text-center mt-lg-0 mt-5">
        <div class="iq-team-info">
            <p class="mb-0 text-uppercase fw-500 font-size-14 letter-spacing-1">{{{team-specialized}}}</p>
            <a href="{{path}}doctor-details.html">
                <h4 class="iq-team-title">{{{team-member-name}}}</h4>
            </a>
        </div>
        <ul class="iq-social list-inline d-flex align-items-center justify-content-lg-start justify-content-center gap-2 pt-lg-3 mt-5 mb-0 mx-0">
            <li class="label">Follow us :</li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <svg class="base-circle animated" width="35" height="35" viewBox="0 0 50 50">
                        <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1" fill="none">
                        </circle>
                    </svg>
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://x.com/" target="_blank">
                    <svg class="base-circle animated" width="35" height="35" viewBox="0 0 50 50">
                        <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1" fill="none">
                        </circle>
                    </svg>
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.google.com/" target="_blank">
                    <svg class="base-circle animated" width="35" height="35" viewBox="0 0 50 50">
                        <circle class="c1" cx="25" cy="25" r="23" stroke="#6e7990" stroke-width="1" fill="none">
                        </circle>
                    </svg>
                    <i class="fab fa-google"></i>
                </a>
            </li>
        </ul>
   </div>
</div>