{{!-- layouts/layout.hbs --}}

<!doctype html>
<html lang="en" class="theme-fs-sm" data-bs-theme="light" data-bs-theme-color="default" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title data-setting="app_name" data-rightJoin=" Clinic And Patient Management Dashboard">{{ appName }}  Clinic And Patient Management Dashboard</title>
        <meta name="description" content="{{ appName }} is a revolutionary Bootstrap Admin Dashboard Template and UI Components Library. The Admin Dashboard Template and UI Component features 8 modules.">
        <meta name="keywords" content="premium, admin, dashboard, template, bootstrap 5, clean ui, Kivicare, admin dashboard,responsive dashboard, optimized dashboard,">
        <meta name="author" content="Iqonic Design">
        <meta name="DC.title" content="{{ appName }} Clinic And Patient Management Dashboard">
        <!-- Config Options -->
        <meta name="setting_options" content='{{ options }}'>
        {{> components/partials/head }}
        {{#block "head"}}
            {{!-- External page head section--}}
        {{/block}}
    </head>
    <body class=" {{bodyClass}} ">
        <!-- loader Start -->
        <div id="loading">
        {{> components/partials/loader }}
        </div>
        <!-- loader END -->
        {{#compare isSidebar '!=' 'false'}}
            {{> components/partials/sidebar }}
        {{/compare}}    
        <main class="main-content">
            <div class="position-relative {{#compare isBanner '!=' 'false'}} iq-banner {{/compare}}">
            <!--Nav Start-->
                {{#compare isHeader '==' 'true'}}
                    {{> components/partials/header }}
                {{/compare}}    
                {{#compare isHeader1 '==' 'true'}}
                    {{> components/partials/header-1  }}
                {{/compare}}
                {{#compare isBanner '!=' 'false'}}
                <!-- Nav Header Component Start -->
                    {{> components/partials/sub-header }}
                <!-- Nav Header Component End -->
                {{/compare}}
            <!--Nav End-->
            </div>
            <div class="content-inner container-fluid pb-0" id="page_layout">
                {{#block "content"}}
                {{/block}}
            </div>
            {{> components/partials/footer }}
        </main>
        <!-- Live Customizer start -->
        {{> components/widgets/setting-offcanvas }}
        <!-- Live Customizer end -->
        <!-- Wrapper End-->

        {{#compare isSettingModal '==' 'true'}}
            {{> pages/widget/setting-modal }}
        {{/compare}}  

        {{> components/partials/scripts }}
        {{#block "scripts"}}
        {{/block}}
    </body>
</html>
