
<!--Logo start-->
<div class="logo-main">
    <img class="logo-normal img-fluid" src="{{path}}assets/images/logo.png" height="30" alt="logo">
    <img class="logo-normal dark-normal img-fluid" src="{{path}}assets/images/logo-dark.png" height="30" alt="logo">
    <img class="logo-normal white-normal img-fluid" src="{{path}}assets/images/logo-white.png" height="30" alt="logo">
    <img class="logo-mini img-fluid" src="{{path}}assets/images/logo-mini.png" height="30" alt="logo">
    <img class="logo-mini dark-mini img-fluid" src="{{path}}assets/images/logo-mini-dark.png" height="30" alt="logo">
    <img class="logo-mini white-mini img-fluid" src="{{path}}assets/images/logo-mini-white.png" height="30" alt="logo">
</div>
<!--logo End-->