<footer>
    <div class="bg-primary-subtle footer-top text-body inner-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <div class="pe-lg-5">
                        {{> components/widgets/logo}}
                        <p class=" my-5 ">It is a long established fact that a reader will be distracted
                            by the readable content.</p>
                        <h5 class=" mb-2">+ (480) 555-0103</h5>
                        <span class="">Email us : <a href="mailto:kivicarelab@support.com">kivicarelab@support.com</a></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h5 class="mb-5">Departments</h5>
                    <ul class="m-0 p-0 list-unstyled footer-menu-link">
                        <li class="mb-3"><a href="{{path}}oncologist.html"><i
                                    class="fas fa-angle-right me-2"></i>Oncologist</a></li>
                        <li class="mb-3"><a href="{{path}}neurologist.html"><i
                                    class="fas fa-angle-right me-2"></i>Neurologist</a></li>
                        <li class="mb-3"><a href="{{path}}ent-specialist.html"><i
                                    class="fas fa-angle-right me-2"></i>ENT specialist</a></li>
                        <li class="mb-3"><a href="{{path}}cardiologist.html"><i
                                    class="fas fa-angle-right me-2"></i>Cardiologist</a></li>
                        <li class="mb-3"><a href="{{path}}audiologist.html"><i
                                    class="fas fa-angle-right me-2"></i>Audiologist</a></li>
                        <li><a href="{{path}}psychiatrists.html"><i
                                    class="fas fa-angle-right me-2"></i>Psychiatrists</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h5 class="mb-5">Popular Products</h5>
                    <ul class="p-0 m-0 footer-blog-post">
                        <li class="d-flex align-items-center gap-3 border-0 mb-4">
                            <div class="img-holder">
                                <img src="{{path}}assets/images/shop/product-9.webp" alt="product-img" class="img-fluid avatar-100 rounded-0">
                            </div>
                            <div class="post-blog">
                                <a class="new-link d-block" href="product-standard.html">
                                    <h6 class="post-title fw-500 mb-0 text-capitalize">Asthma Inhaler</h6>
                                </a>
                                {{> components/widgets/filter-rating rating="5"}}
                                <span class="">$45.00</span>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-3 border-0 mb-4">
                            <div class="img-holder">
                                <img src="{{path}}assets/images/shop/product-12.webp" alt="product-img" class="img-fluid avatar-100 rounded-0">
                            </div>
                            <div class="post-blog">
                                <a class="new-link d-block mt-2" href="product-standard.html">
                                    <h6 class="post-title fw-500 mb-0 text-capitalize text-capitalize">Dental equipment</h6>
                                </a>
                                {{> components/widgets/filter-rating rating="5"}}
                                <span class="">$22.00</span>
                            </div>
                        </li>
                    </ul>                  
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="pe-lg-5">
                        <h5 class="mb-5">Opening Hours</h5>
                        <ul class="list-inline m-0">
                            <li class="pb-2 d-flex align-items-center justify-content-between">
                                <span>Weekdays</span>
                                <span class="text-secondary">9:00 - 18:00</span>
                            </li>
                            <li class="pb-2 d-flex align-items-center justify-content-between">
                                <span>Saturday</span>
                                <span class="text-secondary">9:00 - 18:00</span>
                            </li>
                               <li class="d-flex align-items-center justify-content-between">
                                <span>Sunday</span>
                                <span class="text-secondary">Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="footer-bottom bg-primary">
        <div class="container py-4 ">
            <p class="mb-0 text-white text-center">©
                <script>document.write(new Date().getFullYear())</script> KiviCare All Rights Reserved.
            </p>
        </div>
    </div>
</footer>